
  .root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #202025;
    box-sizing: border-box;
  }
  .root  canvas {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
